img {
    width:700px;
}

body {
    text-align:center;
}

p{
    font-style:oblique;
    font-family:verdana;
    font-size:15px;
    
}

h1 {
    font-style:italic;
}

hr {
    width:20%;
}
table{
    border-style: double;
    border-width: thick;
    width: 100%;
    text-align: center;
}
