.experiences{
    text-align:center;
}

.experience{
    margin-top: 20px;
    margin-bottom: 20px;
}

.expHeader{
    height: 45px;
    display:inline-block;
    width:100%;
}

@media only screen and (max-width: 730px) {
    .expDetails{
        display:block;
    }
    
    .expDate{
        font-size:20px;
        text-align:left;
    }
    
    .expLocation {
        color:#cccccc;
        text-align:left;
    }

    div:not(.fixedSize):not(.menu):not(.line) {
        width:90vw;
    }
}

@media only screen and (min-width: 730px) {
    .expDetails{
        display:inline-block;
        width:49%;
    }

    .expDate{
        font-size:20px;
        line-height: 25px;
        text-align:right;
    }
    
    .expLocation {
        font-size: 15px;
        line-height: 20px;
        color:#cccccc;
        text-align:right;
    }
    
    .expTitle {
        width:50%;
    }
}

.expData{
    display:inline-block;
    width:700px;
    text-align:center;
}

.expTitle {
    font-size:30px;
    line-height: 45px;
    text-align:left;
    display:inline-block;
}

.expDesc{
    text-align:left;
}