.experience{
    padding-top:20px;
    padding-bottom:20px;
}

.bulletB {
    width:20px;
    padding:10px;
    display:none;
    vertical-align:middle;
}

.bullet{
    width:10px;
    height:2px;
    background-color:black;
    margin-left:auto;
    margin-right:auto;
}

.expHeader{
    display:inline-block;
    width:100%;
}

@media only screen and (max-width: 730px) {
    .expDetails{
        display:block;
        width:49%;
    }
    
    .expDate{
        font-size:20px;
        text-align:left;
    }
    
    .expLocation {
        text-align:left;
        color:#555555;
        text-align:left;
    }
    
    div:not(.fixedSize):not(.menu){
        width:90vw;
    }
}

@media only screen and (min-width: 730px) {
    .expDetails{
        display:inline-block;
        width:49%;
    }

    .expDate{
        font-size:20px;
        text-align:right;
    }
    
    .expLocation {
        text-align:left;
        color:#555555;
        text-align:right;
    }
}

.expData{
    display:inline-block;
    width:700px;
    text-align:center;
}

.expTitle {
    font-size:30px;
    text-align:left;
    display:inline-block;
    width:50%;
}

.expDesc{
    text-align:left;
}