.headingSection {
    width:100%;
    top:0px;
    left:0px;
    position:fixed;
    /*
    background-image:url(resources/headerBackground.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
    transition:2s;
    text-align:center;
}

.bgImage{
    transition:1.5s;
    width:100%;
    height:100vh;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:40% 50%;
    background-image:url(resources/headerBackground.jpg);
}

.headingSection2 {
    padding-top:50px;
    padding-bottom:30px;
    position:absolute;
    top:50vh;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    font-size: 50px;
}

/*
.headingSection3{
    display:table-cell;
    text-align: center;
    vertical-align:middle;
}*/

.headingFooter{
    position:fixed;
    bottom:50px;
    text-align:center;
    width:100%;
}

.headingMessage{
    color:white;
}

.intro {
    margin-top:20px;
    margin-bottom:20px;
    vertical-align:middle;
    text-align:center;
}

.profile {
    border:2px solid;
    display:inline-block;
}

.noUnderline{
    text-decoration:none;
}

.welcome {
    padding-top:10px;
    line-height:27px;
    vertical-align:middle;
    display:inline-block;
    text-align:left;
}

.currentProjects {
    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
}

.projectsHeader {
    display:block;
    font-size:40px;
    padding-top:10px;
    padding-bottom:10px;
}

@media only screen and (min-width: 600px) {
    .profilePicture{
        width:400px;
    }
    
    .projectPicture{
        width:400px;
        height: 320px;
    }

    .project{
        margin-left:15px;
        margin-right:15px;
    }
}

.introPadding{
    width:20px;
    height:20px;
    display:inline-block;
}


.project{
    display:inline-block;
    border-radius: 25px;
    margin-top:20px;
    margin-bottom:20px;
}

.projectHeading {
    vertical-align:middle;
    height: 50px;
}

.projectHeadingText{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid black;
    background-color: white;
    padding-top: 13px;
    font-size: 19px;
    color: black;
    padding-bottom: 13px;
}

.projectInfo {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

button{
    font-size:20px;
    background-color:#ccffcc;
    /*background-image: linear-gradient(#66ccff, #ccffcc);*/
    box-shadow:0px 0px 10px 5px grey;
    padding:20px;
    font-family:"Futura";
    border-radius:10px;
}

button:hover{
    background-image: linear-gradient(#ccffcc, #66ff33);
}
