.projects{
    margin-bottom:40px;
    text-align:center;
    padding-bottom:40px;
}

.projectPicture{
    width:450px;
}

.projectInfo{
    display:inline-block;
    padding-top:10px;
}

@media only screen and (max-width: 955px) {
    .projectHeadingMob {
        font-size:20px;
        text-decoration:underline;
        padding-bottom:20px;
    }
    
    .projectHeading {
        display:none;
    }
}

@media only screen and (min-width: 955px) {
    .projectHeadingMob {
        display:none;
    }
    
    .projectHeading {
        font-size:20px;
        text-decoration:underline;
    }
}

.projectDesc {
    text-align:left;
    width:500px;
}

.sectionPadding{
    height:50px;
}

li{
    font-size:20px;
}
/*
table{
    
}

td {
    
}
*/