.projects{
    margin-top:40px;
    text-align:center;
}

table{
    text-align:center;
    margin:auto;
    padding-top:40px;
    padding-bottom:40px;
}

.projectPicture{
    height:350px;
}

.projectHeading {
    font-size:20px;
    text-decoration:underline;
}

.projectDesc {
    text-align:left;
}

.tablePadding{
    height:50px;
}
/*
table{
    
}

td {
    
}
*/