.projects{
    text-align:center;
}

.project {
    margin-top: 20px;
    margin-bottom: 20px;
}

.projectPicture {
    width:450px;
    height: 320px;
}

.projectInfo {
    text-align: left;
    width: 500px;
    display:inline-block;
    vertical-align: middle;
}

.projectHeading {
    font-size:20px;
    text-decoration:underline;
    padding-top:20px;
    padding-bottom:20px;
}

li{
    font-size:20px;
}
/*
table{
    
}

td {
    
}
*/