body {
    color:#000000;
    background-color:lightblue;
    text-align: center;
    height:auto;
    width:auto;
    margin:40px 0px 0px 0px;
    padding:0;
    border:0;
    position:relative;
    font-family:"Times New Roman";
}

div {
    display:block;
}

img {
    vertical-align:middle;
}

.menu{
    height:40px;
    width:100%;
    padding:0px 5px 0px 5px;
    background-color:#009900;
    color:black;
    position:fixed;
    top:0px;
    left:0px;
    vertical-align:middle;
    display:table;
    z-index:1;
}

.menuMobile{
    text-align:left;
    display:none;
}

.menuMobIcon{
    height:40px;
    width:40px;
    padding:0px;
    display:inline-block;
}

.menuMobTitle{
    width:100px;
    height:40px;
    font-size:34px;
    display:inline-block;
    vertical-align:middle;
}

.menuTitle{
    width:30%;
    height:100%;
    font-size:34px;
    line-height:41px;
    display:inline-block;
    vertical-align:middle;
    text-align:left;
}

.menuPages{
    display:inline-block;
    vertical-align:middle;
    text-align:right;
    line-height:40px;
    width:70%;
}

.menuOption{
    height:40px;
    padding:0px 7px 0px 5px;
    border-right:1px solid;
    display:inline-block;
    font-size:18px;
    vertical-align:middle;
}

.menuOption:hover{
    background-color:grey;
}

.headingSection {
    position:relative;
    /*
    background-image:url(resources/headerBackground.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
    transition:2s;
    text-align:center;
}

.bgImage{
    transition:2s;
    width:100%;
}

.headingSection2{
    position:absolute;
    top:50vh;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    font-size: 50px;
    font-family:"Times New Roman";
    
}

/*
.headingSection3{
    display:table-cell;
    text-align: center;
    vertical-align:middle;
}*/

.headingFooter{
    position:fixed;
    bottom:10px;
    text-align:center;
    width:100%;
}

.headingMessage{
    color:white;
}

.intro {
    margin-top:30px;
    height:254px;
    vertical-align:middle;
    text-align:left;
}

.introBB{
    margin:auto;
    width:800px;
    border:2px solid;
}

.profile {
    display:inline-block;
}

.welcome {
    padding:10px 0px 10px 30px;
    height:230px;
    line-height:27px;
    vertical-align:middle;
    display:inline-block;
    text-align:left;
}

p {
    word-wrap:break-word;
}

.currentProjects {
    margin-top:50px;
    height:200px;
    text-align:center;
}

.header {
    font-size:30px;
}

table{
    margin:auto;
}

td{
    padding:30px;
}

.projectPicture{
    height:50%;
}