body {
    color:#000000;
    background-color:lightblue;
    text-align: center;
    height:auto;
    width:auto;
    margin-top:40px;
    margin-bottom:40px;
    margin-left:auto;
    margin-right:auto;
    padding:0;
    border:0;
    position:relative;
    font-family:"Trebuchet MS";
}

a{
    text-decoration:none;
}

div {
    display:block;
    margin:auto;
}

img {
    vertical-align:middle;
}

.menu{
    height:40px;
    margin:auto;
    width:99%;
    padding-left:0.5%;
    padding-right:1%;
    position:fixed;
    top:0px;
    left:0px;
    background-color:#ffcc66;
    color:black;
    vertical-align:middle;
    z-index:2;
}

@media only screen and (max-width: 600px) {
    .menuMobile{
        text-align:left;
    }
    
    .menuMobIcon{
        height:40px;
        width:40px;
        padding:0px;
        display:inline-block;
    }
    
    .menuMobTitle{
        width:100px;
        height:40px;
        font-size:34px;
        display:inline-block;
        vertical-align:middle;
    }
    
    .menuTitle{
        display:none;
    }
    
    .menuPages{
        margin:0px;
        vertical-align:middle;
        text-align:left;
        width:100%;
        display:none;
    }
    
    .menuOption{
        line-height:30px;
        margin-right:0px;
        margin-left:0px;
        padding:0px 5px 0px 5px;
        font-size:18px;
        vertical-align:middle;
    }
    
    img:not(.fixedSize) {
        width:90vw;
    }
    
    div:not(.fixedSize):not(.menu) {
        width:90vw;
    }
    
    .contactOptions{
        display:none;
    }

    .contactOption{
        display:block;
        height:40px;
        line-height:40px;
        margin:0px 10px 0px 10px;
    }
    
    .colon{
        display:none;
    }
}

@media only screen and (min-width: 600px) {
    .menuBrowser{
        width:100%;
        height:40px;
        display:table;
    }
    
    .menuMobile{
        display:none;
    }
    .menuTitle{
        width:30%;
        height:100%;
        font-size:34px;
        line-height:41px;
        display:inline-block;
        vertical-align:middle;
        text-align:left;
    }
    
    .menuPages{
        display:inline-block;
        vertical-align:middle;
        text-align:right;
        line-height:40px;
        width:70%;
    }
    
    .menuOption{
        height:40px;
        margin-right:0px;
        margin-left:0px;
        padding:0px 7px 0px 5px;
        display:inline-block;
        font-size:18px;
        vertical-align:middle;
    }

    .contactOptions{
        display:inline-block;
    }

    .contactOption{
        display:inline-block;
        height:40px;
        line-height:40px;
        margin:0px 10px 0px 10px;
    }
    
    .colon{
        display:inline-block;
    }
}
    
.menuOption:hover{
    background-color:grey;
}

.contactHeader{
    height:40px;
    line-height:40px;
    display:inline-block;
}

.contactSection{
    background-color:black;
    position:fixed;
    bottom:0px;
    color:white;
    height:40px;
    width:100%;
}

.header{
    font-weight:bold;
    font-size:50px;
    padding-top:30px;
}