body {
    color:#000000;
    background-color:lightblue;
    text-align: center;
    height:auto;
    width:auto;
    margin:40px 0px 40px 0px;
    padding:0;
    border:0;
    position:relative;
    font-family:"Verdana";
}

div {
    display:block;
}

img {
    vertical-align:middle;
}

.menu{
    height:40px;
    width:100%;
    padding:0px 5px 0px 5px;
    background-color:#ffcc66;
    color:black;
    position:fixed;
    top:0px;
    left:0px;
    vertical-align:middle;
    display:table;
    z-index:1;
}

.menuMobile{
    text-align:left;
    display:none;
}

.menuMobIcon{
    height:40px;
    width:40px;
    padding:0px;
    display:inline-block;
}

.menuMobTitle{
    width:100px;
    height:40px;
    font-size:34px;
    display:inline-block;
    vertical-align:middle;
}

.menuTitle{
    width:30%;
    height:100%;
    font-size:34px;
    line-height:41px;
    display:inline-block;
    vertical-align:middle;
    text-align:left;
}

.menuPages{
    display:inline-block;
    vertical-align:middle;
    text-align:right;
    line-height:40px;
    width:70%;
}

.menuOption{
    height:40px;
    margin-right:0px;
    margin-left:0px;
    padding:0px 7px 0px 5px;
    display:inline-block;
    font-size:18px;
    vertical-align:middle;
}

.menuOption:hover{
    background-color:grey;
}

.contactSection{
    background-color:black;
    position:fixed;
    bottom:0px;
    color:white;
    height:40px;
    width:100%;
}

.contactOption{
    display:inline-block;
    height:40px;
    line-height:40px;
    margin:0px 10px 0px 10px;
}