* {
  box-sizing: border-box;
}

body {
    display: table;
    height:auto;
    width:100%;
    margin: 40px 0px 0px 0px;
    background-color: #333333;
    color: #FFF;
    position: relative;
    font-family: "Trebuchet MS";
    text-align: center;
    box-sizing: border-box !important;
}
    
@keyframes run {
  0% {
    top: -50%
  }
  100% {
    top: 110%
  }
}

.bodyText {
    padding-top:40px;
    padding-bottom:40px;
    margin-left: auto;
    margin-right: auto;
}

div {
    display:block;
    margin:auto;
}

img {
    vertical-align:middle;
}

a {
    color: inherit;
    text-decoration: none;
}

.menu{
    height:40px;
    margin:auto;
    width:100vw;
    padding-left:0%;
    padding-right:0%;
    position:fixed;
    top:0px;
    left:0px;
    background-color:#76B5C8;
    color: black;
    vertical-align:middle;
    z-index:2;
}

@media only screen and (max-width: 600px) {
    .menuMobile{
        text-align:left;
    }
    
    .menuMobIcon{
        height:40px;
        width:40px;
        padding-left: 5px;
        display:inline-block;
    }
    
    .menuMobTitle{
        width:200px;
        height:40px;
        line-height: 40px;
        font-size:30px;
        display:inline-block;
        vertical-align:middle;
    }
    
    .menuTitle{
        display:none;
    }
    
    .menuPages{
        margin:0px;
        vertical-align:middle;
        background-color:#76B5C8;
        text-align:left;
        width: 100vw;
        display:none;
    }
    
    .menuOption{
        width: 100%;
    }
    
    .menuOptionInner {
        width: calc(100vw - 20px);
        border-top: 1px solid grey;
        padding:0px 10px 0px 10px;
        line-height:49px;
        font-size:18px;
        vertical-align:middle;
    }
    
    img:not(.fixedSize) {
        width:90vw;
    }
    
    div:not(.fixedSize):not(.menu):not(.line) {
        width:90vw;
    }
    
    .contactOptions{
        display:none;
    }

    .contactOption{
        display:block;
        height:40px;
        line-height:40px;
        margin:0px 10px 0px 10px;
    }
    
    .contactBrowserExtra{
        display:none;
    }
}

@media only screen and (min-width: 600px) {
    .menuBrowser{
        width:100%;
        height:40px;
    }
    
    .menuMobile{
        display:none;
    }
    .menuTitle{
        position: absolute;
        left: 4%;
        height:100%;
        font-size:28px;
        line-height:40px;
        display:inline-block;
        vertical-align:middle;
        text-align:left;
    }
    
    .menuPages{
        position: absolute;
        right: 4%;
        display:inline-table !important;
        vertical-align:middle;
        text-align:right;
        height: 40px;
    }
    
    .menuPagesInner{
        display:table-row;
        vertical-align:middle;
        text-align:right;
        height: 40px;
    }
    
    .menuOption{
        padding-left: 6px;
        padding-right: 6px;
        display:table-cell;
        font-size:18px;
        vertical-align:middle;
    }

    .menuOptionLink {
        display: table-cell;
        vertical-align: middle;
    }

    .contactOptions{
        display:inline-block;
    }

    .contactOption{
        display:inline-block;
        height:40px;
        line-height:40px;
        margin:0px 10px 0px 10px;
    }
    
    .contactBrowserExtra{
        display:inline-block;
    }
}
    
.menuOptionLink:hover{
    text-decoration: underline;
    /*background-color:#418da4;*/
}

.contactHeader{
    height:40px;
    line-height:40px;
    display:inline-block;
}

.contactSection{
    left: 0px;
    background-color:black;
    position:fixed;
    bottom:0px;
    color:white;
    height:40px;
    width:100%;
}

.header{
    font-weight:bold;
    font-size:50px;
}

.sectionDivider {
    height: 50px;
}

.autoMargin{
    margin:auto;
}