
body {
    display: table;
    height:auto;
    width:auto;
    margin: 40px auto 40px auto;
    background-color: #171717;
    color: #FFF;
    position: relative;
    font-family: "Trebuchet MS";
    text-align: center;
    box-sizing: border-box !important;
}
.lines {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 90vw;
    z-index: -1;
}
.line {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    transform: skew(45deg);
    transform-origin: center;
}
.line::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 10px;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: run 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line:nth-child(1) {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    margin-left: -10%;
}
.line:nth-child(1)::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    animation-delay: 2s
}
.line:nth-child(3) {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    margin-left: 10%
}
.line:nth-child(3)::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    animation-delay: 2.5s
}
    
@keyframes run {
  0% {
    top: -50%
  }
  100% {
    top: 110%
  }
}

.bodyText {
    padding-top:40px;
    padding-bottom:40px;
}

div {
    display:block;
    margin:auto;
}

img {
    vertical-align:middle;
}

a {
    color: inherit;
}

.menu{
    height:40px;
    margin:auto;
    width:100%;
    padding-left:0%;
    padding-right:0%;
    position:fixed;
    top:0px;
    left:0px;
    background-color:#ffcc66;
    color:black;
    vertical-align:middle;
    z-index:2;
}

@media only screen and (max-width: 600px) {
    .menuMobile{
        text-align:left;
    }
    
    .menuMobIcon{
        height:40px;
        width:40px;
        padding-left: 5px;
        display:inline-block;
    }
    
    .menuMobTitle{
        width:100px;
        height:40px;
        line-height: 40px;
        font-size:30px;
        display:inline-block;
        vertical-align:middle;
    }
    
    .menuTitle{
        display:none;
    }
    
    .menuPages{
        margin:0px;
        vertical-align:middle;
        background-color:#ffcc66;
        text-align:left;
        width:100%;
        display:none;
    }
    
    .menuOption{
        display: table-row;
    }
    
    .menuOptionInner {
        width: calc(100vw - 20px);
        padding:0px 10px 0px 10px;
        display: table-cell;
        line-height:30px;
        font-size:18px;
        vertical-align:middle;
    }
    
    img:not(.fixedSize) {
        width:90vw;
    }
    
    div:not(.fixedSize):not(.menu) {
        width:90vw;
    }
    
    .contactOptions{
        display:none;
    }

    .contactOption{
        display:block;
        height:40px;
        line-height:40px;
        margin:0px 10px 0px 10px;
    }
    
    .contactBrowserExtra{
        display:none;
    }
}

@media only screen and (min-width: 600px) {
    .menuBrowser{
        width:100%;
        height:40px;
    }
    
    .menuMobile{
        display:none;
    }
    .menuTitle{
        position: absolute;
        left: 4%;
        height:100%;
        font-size:30px;
        line-height:40px;
        display:inline-block;
        vertical-align:middle;
        text-align:left;
    }
    
    .menuPages{
        position: absolute;
        right: 4%;
        display:inline-table !important;
        vertical-align:middle;
        text-align:right;
        height: 40px;
    }
    
    .menuPagesInner{
        display:table-row;
        vertical-align:middle;
        text-align:right;
        height: 40px;
    }
    
    .menuOption{
        padding-left: 6px;
        padding-right: 6px;
        display:table-cell;
        font-size:18px;
        vertical-align:middle;
    }

    .contactOptions{
        display:inline-block;
    }

    .contactOption{
        display:inline-block;
        height:40px;
        line-height:40px;
        margin:0px 10px 0px 10px;
    }
    
    .contactBrowserExtra{
        display:inline-block;
    }
}
    
.menuOption:hover{
    background-color:#D4AD61;
}

.contactHeader{
    height:40px;
    line-height:40px;
    display:inline-block;
}

.contactSection{
    background-color:black;
    position:fixed;
    bottom:0px;
    color:white;
    height:40px;
    width:100%;
}

.header{
    font-weight:bold;
    font-size:50px;
}

.sectionDivider {
    height: 50px;
}

.autoMargin{
    margin:auto;
}