body {
    background-color: #FFFFFF;
    text-align:center;
}
h1 {
    padding-top: 15px;
    font-size: large;
}
table {
    width: 98%;
    background-color: rgb(255, 170, 255);
    border: 3px ridge;
    border-color: rgb(255, 56, 82) rgb(54, 36, 54) rgb(112, 75, 113) rgb(255, 45, 67);
    margin-left:auto;
    margin-right:auto;
}


td, th {
    text-align: left;
    border: 2px solid;
    border-color: rgb(112, 75, 113) rgb(255, 45, 67) rgb(255, 56, 82) rgb(54, 36, 54);
}
.center{
    text-align: center;
}